[Unit]
Description=Consul Server
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/var/lib/consul/
User=consul
# set GOMAXPROCS to number of processors
ExecStart=/bin/bash -c "GOMAXPROCS=$(nproc) /usr/bin/consul agent -config-file /etc/consul/consul.json"
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
